<div class="col-md-5 offset-md-3" style="margin-top: 15px;">
    <div class="card">
      <div class="card-body">
        <form action="">
          <div class="form-group">
            <input type="text" name="title" [(ngModel)]="creat.name" placeholder="Title" class="form-control" autofocus>
          </div>
          <div class="form-group">
            <textarea name="description" [(ngModel)]="creat.description" rows="2" placeholder="Description" class="form-control"></textarea>
          </div>
          <div class="form-group">
            <input type="number" [(ngModel)]="creat.price" placeholder="Price" class="form-control">
          </div>
          <button class="btn btn-success btn-block" (click)="newProduct()">
            Save
          </button>
        </form>
      </div>
    </div>
  </div>
  
  <div class="col-md-5 offset-md-3">
    <div class="card card-body text-center">
      <h3>{{creat.name == '' ? 'Name Product' : creat.name}}</h3>
      <p>{{creat.description == '' ? 'Write your Description' : creat.description}}</p>
      <p>${{creat.price == '' ? 'Price' : creat.price}}</p>
    </div>
  </div>

